.image-grid-container {
  display: block;
  columns: 12rem;
  gap: 1rem;

  figure {
    width: 100%;
    max-width: 32rem;
    margin-bottom: 1rem;
    break-inside: avoid;

    img {
      width: 100%;
      border-radius: 0.5rem;
    }
  }
}
